


#testimonials3-8{
background: url(cchs/header-footer.png);
 
}
#footer1-e{
background: url(cchs/header-footer.png);
 
}

#btn-subsribe {
    background-color: green;
    border-color: transparent;
    color: #ffffff;
}